.search {
    width: 1000px; 
}

.search > input {

    width: 1000px;
}

.footerParentDiv {
    width: full;
   
  }
  .footerParentDiv .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ebeeef;
    padding: 16px;
    
    
  }
  .footerParentDiv .content .heading {
    font-size: 15px;
    font-weight: bolder;
  }
  .footerParentDiv .content .list {
    font-size: 10px; 
  }
  
  .footerParentDiv .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #002f34;
    color: whitesmoke;
  }
  
  .footerParentDiv .footer p {
    margin: 0;
  }

  .olx-font {
    font-family: headings
    Roboto, A2rial, Helvetica, sans-serif;
  }


  body {
  overflow-x: hidden;
  }


  .footer-credit {
    background: #002f34;
  }

  .navbar {
    z-index: 1;
    position: fixed;
  }